$black: #131313;

$orange-peel: hsla(34, 100%, 59%, 1);
$tea-green: hsla(82, 50%, 82%, 1);
$moonstone: hsla(185, 37%, 48%, 1);
$yinmn-blue: hsla(212, 44%, 32%, 1);
$night: hsla(0, 0%, 4%, 1);

$transition--speed: 0.4s;



.head_room {
  padding-top: 100px;
}
button {
  border: none;
  outline: none;
  background-color: $orange-peel;
  display: grid;
  place-items: center;
}
input {
  outline: none;
  border: none;
}

body {
  background-color: $black;
}

nav {
  height: 72px;
  width: 100%;
  padding: 12px 12px;
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, rgba($color: $black, $alpha: 0.9) 30%, rgba($color: $black, $alpha: 0));
  z-index: 10;

  .content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    max-width: 1100px;
    padding: 0 4px;
    flex-shrink: 0;
    .search_box {
      display: flex;
      background-color: rgba($color: $black, $alpha: 0.8);
      width: 100%;
      max-width: 600px;
      border-radius: 32px;
      padding: 0 12px;
      height: 38px;
      outline: 1px solid rgba($color: $black, $alpha: 0.4);
      transition: $transition--speed ease;
      input {
        background: none;
        width: 100%;
      }

      button {
        background: none;
        svg {
          aspect-ratio: 1/1;
          height: 18px;
          stroke: $orange-peel;
        }
      }
      
    }
    .search_box:focus-within {
      outline: 1px solid $orange-peel;
      background-color: $black;
    }
    .links {
      display: flex;
      align-items: center;
      gap: 12px;
      a {
        text-transform: capitalize;
        position: relative;
      }

      a::after {
        position: absolute;
        content: "";
        height: 2px;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translateX(-50%) translateY(1000%);
        background-color: red;
        opacity: 0;
      }
      a.active::after {
        transition: 0.15s ease-out;
        position: absolute;
        content: "";
        height: 2px;
        left: 50%;
        top: 50%;
        width: 100%;
        opacity: 1;
        transform: translateX(-50%) translateY(600%);
        background-color: $orange-peel;
      }
    }
  }
}

.welcome {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 12px;
  .hero {
    width: 100%;
    height: 100dvh;
    max-height: 1080px;
    position: relative;
    display: grid;
    place-items: center;
    .content {
      width: 100%;
      max-width: 1920px;
      height: 100%;
      position: relative;
      .img_cont {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
      }
      .swipe {
        width: 100%;
        height: 100%;
        
      }
    }
  }
}

.welcome::after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100dvh;
  background: url("https://s3.bunnycdn.ru/assets/t10/s2/images/intro.jpg");
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  z-index: -1;
  filter: brightness(20%);
}

.caro_item {
  height: 100%;
  width: 100%;
  background-color: $night;
  position: relative;
  display: flex;
  flex-direction: column;
  .caro_img {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: grab;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      // filter: brightness(70%);
      mask-image: linear-gradient( to left,rgba(0, 0, 0, 1), transparent);
      -webkit-mask-image: linear-gradient( to left,rgba(0, 0, 0, 1), transparent);
    }
  }

  .details {
    margin: auto 0;
    width: 45%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 2;
    
    .title {
      font-size: 38px;
    }
    .info {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 14px;
      .time {
        color: $orange-peel;
      }
      .quality {
        font-size: 12px;
        padding: 4px;
        text-transform: uppercase;
        background: $orange-peel;
        border-radius: 4px;
        color: $black;
        font-weight: 600;
      }
    }
    .desc {
      text-shadow: 0px 1px 4px black;
    }
    .links {
      display: flex;
      gap: 12px;
      .watch {
        padding: 12px;
        border-radius: 4px;
        // background: linear-gradient(to left,$orange-peel, transparent);
        background-color: $orange-peel;
        color: $night ;
        font-weight: 600;
      }
    }
  }
}






.list {
  width: 100%;
  background-color: $night;
  display: flex;
  flex-direction: column;
  padding: 12px;
  max-width: 1200px;
  box-shadow: 0px 0px 10px black;

  .title {
    display: flex;
    font-size: 32px;
    text-transform: capitalize;
    padding: 0 24px;
  }

  .content {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 24px;
  }


  .card {
    border-radius: 4px;
    height: 252px;
    aspect-ratio: 9/12;
    outline: 2px solid $black;
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: $night;
    a {
      cursor: alias;
    }
    img {
      cursor: pointer;
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      mask-image: linear-gradient(to bottom,
      black,  transparent);
      -webkit-mask-image: linear-gradient(to bottom,
       black,   transparent 90%);
    }
    .movie_title {
      font-size: 14px;
      margin-top: auto;
      display: flex;
      flex-direction: column;
      width: fit-content;
      
    }
    .movie_title::after {
      content: "";
      height: 1px;
      background-color: grey;
      width: 80%;
      margin: 5px;
      left: 0;
    }
    .movie_info {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 12px;
      
      .lang {
        text-transform: uppercase;
        background-color: $orange-peel;
        border-radius: 2px;
        padding: 2px;
        color: black;
        font-weight: 600;
        
      }
      
    }
    transition: $transition--speed ease;
  }
  .card:hover {
    outline: 2px solid $orange-peel;
  }

}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}


.search {
  margin-top: 100px;
}

.movie {
  background-color: $night;
}